Repository Java-Algorithm-Study/algorithm-problems, pull requests merged in 2022-05, with the labels that each got.

#186 Jihoon: 프로그래머스 괄호변환
  jihoon/office/4-28/Pro_60058.java
Labels: PROGRAMMERS

#188 Jungmin : Boj 1339
  chris-an/home/5.02/Boj_1339.java
  chris-an/office/4.28/Pro_60057.java
Labels: BOJ

#189 Jeongwoo: BOJ 1339 단어 수학
  jeongwoo/home/2022-05/02/Boj1339.java
Labels: BOJ

#187 Jihoon: Boj 1339 단어수학
  jihoon/home/5-week1/Boj_1339.java
  jihoon/home/5-week1/Boj_1339_2.java
Labels: BOJ

#191 [FEAT] yoonji: boj 1339 단어수학
  yoonji/home/5/02/boj_1339.java
Labels: BOJ

#190 Jihoon: boj 14225 부분 수열의 합
  jihoon/home/5-week1/Boj_14225.java
Labels: BOJ

#193 Jihoon, Jungmin: 프로그래머스 거리두기 확인
  jihoon/office/5-3/Pro_81302.java
Labels: PROGRAMMERS

#196 Jihoon: boj 14888 연산자 끼워넣기
  jihoon/home/4-15/Boj_14888.java
Labels: BOJ

#192 yoonji: boj 14225 부분수열의합 / yoonji&jeongwoo: prg 거리두기 확인하기 & 메뉴 리뉴얼
  yoonji/home/5/boj_14225_03.java
  yoonji/office/5/03/prg_거리두기확인하기.java
  yoonji/office/5/03/prg_메뉴리뉴얼.java
Labels: bug, BOJ, PROGRAMMERS

#197 Jungmin : Boj 14888
  chris-an/home/5.03/Boj_14225.java
  chris-an/home/5.04/Boj_14888.java
Labels: BOJ

#194 Jeongwoo: BOJ 14225 부분수열의 합 / 프로그래머스 72411 메뉴 리뉴얼 / 프로그래머스 81302 거리두기 확인하기
  jeongwoo/home/2022-05/03/Boj14225.java
  jeongwoo/office/2022-05/03/Pro72411.java
  jeongwoo/office/2022-05/03/Pro81302.java
Labels: BOJ, PROGRAMMERS

#200 Jungmin : Boj 15658
  chris-an/home/5.05/Boj_15658.java
Labels: BOJ

#199 yoonji : 15658 연산자끼워넣기2 / 16197 두 동전
  yoonji/home/5/boj_15658_05.java
  yoonji/home/5/boj_16197_05.java
Labels: BOJ

#201 Jungmin : Boj 16197 두 동전
  chris-an/home/5.06/Boj_16197.java
Labels: BOJ

#202 Jungmin : Boj 16198
  chris-an/home/5.07/Boj_16198.java
  chris-an/home/5.07/Boj_16198_refactoring.java
Labels: BOJ

#204 Jeongwoo: BOJ 14888 연산자 끼워넣기 / 15658 연산자 끼워넣기 2
  jeongwoo/DFS/Boj14888.java
  jeongwoo/DFS/Boj15658.java
Labels: BOJ

#205 Jihoon: boj 9663 N-queen
  jihoon/home/5-week2/Boj_9663.java
Labels: BOJ

#206 Jungmin : Boj 9663
  chris-an/home/5.09/Boj_9663.java
Labels: BOJ

#203 yoonji: boj 16198 에너지모으기
  yoonji/home/5/boj_16198_07.java
Labels: BOJ

#207 Jeongwoo: BOJ 9663 N-Queen
  jeongwoo/BackTracking/Boj9663.java
Labels: BOJ

#210 Jungmin : Boj 2580
  chris-an/home/5.10/Boj_2580.java
Labels: BOJ

#208 Jihoon: boj 2580 스도쿠
  jihoon/home/5-week2/Boj_2580.java
Labels: BOJ

#212 Jeongwoo: BOJ 2580 스도쿠 / 프로그래머스 12980 점프와 순간 이동 / 프로그래머스 92341 주차 요금 계산
  jeongwoo/BackTracking/Boj2580.java
  jeongwoo/DFS/Pro67257.java
  jeongwoo/DP/Pro12980.java
  jeongwoo/Hash/Pro92431.java
  jeongwoo/문자열/Pro42888.java
Labels: BOJ, PROGRAMMERS

#211 yoonji: prg 점프와순간이동
  yoonji/office/5/10/prg_점프와순간이동.java
Labels: PROGRAMMERS

#213 Jungmin : Boj 1987 / SW 1859
  chris-an/home/5.12/Boj_1987.java
  chris-an/home/5.12/Sw_1859.java
Labels: BOJ

#214 Jihoon: boj 1987
  jihoon/home/5-week2/Boj_1987.java
Labels: BOJ

#216 Jeongwoo: BOJ 1987 알파벳
  jeongwoo/DFS/Boj1987.java
Labels: BOJ

#217 Jungmin : Boj 1062 / SW 1244
  chris-an/home/5.13/Boj_1062.java
  chris-an/home/5.13/Sw_1244_fail_메모리초과.java
  chris-an/home/5.13/Sw_1244_pass.java
Labels: BOJ, SW Expert

#222 Jungmin : Boj 13460 / SW 5948
  chris-an/home/5.14/Boj_13460.java
  chris-an/home/5.14/Sw_5948.java
Labels: BOJ, SW Expert

#218 Jihoon: boj 1062 가르침
  jihoon/home/5-week2/Boj_1062.java
Labels: BOJ

#224 Jungmin : Boj 12100 / Sw 6485 / diff1 - 전체
  chris-an/home/5.16/Boj_12100.java
  chris-an/home/5.16/Sw_6485.java
  chris-an/home/5.16/Sw_N줄덧셈.java
  chris-an/home/5.16/Sw_가위바위보.java
  chris-an/home/5.16/Sw_간단한N의약수.java
  chris-an/home/5.16/Sw_거꾸로출력해보아요.java
  chris-an/home/5.16/Sw_대각선출력하기.java
  chris-an/home/5.16/Sw_더블더블.java
  chris-an/home/5.16/Sw_몫과나머지출력하기.java
  chris-an/home/5.16/Sw_서랍의비밀번호.java
  chris-an/home/5.16/Sw_스탬프찍기.java
  chris-an/home/5.16/Sw_신문헤드라인.java
  chris-an/home/5.16/Sw_아주간단한계산기.java
  chris-an/home/5.16/Sw_알파벳을숫자로변환.java
  chris-an/home/5.16/Sw_연월일달력.java
  chris-an/home/5.16/Sw_자릿수더하기.java
  chris-an/home/5.16/Sw_중간값찾기.java
  chris-an/home/5.16/Sw_최대수구하기.java
  chris-an/home/5.16/Sw_큰놈작은놈같은놈.java
  chris-an/home/5.16/Sw_평균값구하기.java
  chris-an/home/5.16/Sw_홀수만더하기.java
Labels: BOJ, SW Expert

#223 Jihoon: boj 12100
  jihoon/home/5-week3/Boj_12100.java
Labels: BOJ

#227 Jeongwoo: 프로그래머스 17686 파일명 정렬 / 64065 튜플
  jeongwoo/정렬/Pro17686.java
  jeongwoo/정렬/Pro64065.java
Labels: PROGRAMMERS

#225 Jungmin : Boj 16928 / SW 14178
  chris-an/home/5.17/Boj_16928.java
  chris-an/home/5.17/Sw_14178.java
Labels: BOJ, SW Expert

#226 yoonji: sw 6485 삼성시의 버스 노선 / boj 13460 구슬탈출2
  yoonji/home/5/boj_13460_14.java
  yoonji/home/5/swExpert/sw_6485_16.java
  yoonji/office/5/17/prg_튜플.java
  yoonji/office/5/17/prg_파일명정렬.java
Labels: bug, BOJ, SW Expert

#228 Jeongwoo: BOJ 16928 뱀과 사다리 게임
  jeongwoo/BFS/Boj16928.java
Labels: BOJ

#230 Jungmin : Boj 16948 / SW 10059 / SW diff2 8문제
  chris-an/home/5.18/Boj_16948.java
  chris-an/home/5.18/Sw_10059.java
  chris-an/home/5.18/Sw_간단한369게임.java
  chris-an/home/5.18/Sw_조교의성적매기기.java
  chris-an/home/5.18/Sw_중간평균값구하기.java
  chris-an/home/5.18/Sw_지그재그숫자.java
  chris-an/home/5.18/Sw_초심자의회문검사.java
  chris-an/home/5.18/Sw_파리퇴치.java
  chris-an/home/5.18/Sw_파스칼삼각형.java
  chris-an/home/5.18/Sw_패턴마디의길이.java
Labels: BOJ, SW Expert

#231 yoonji : boj 16928 뱀과사다리게임
  yoonji/home/5/boj_16928_17.java
Labels: BOJ

#229 Jihoon: boj 16948
  jihoon/home/5-week3/Boj_16948.java
Labels: BOJ

#232 Jeongwoo: 2022-05-18 BOJ 16948 데스 나이트
  jeongwoo/BFS/Boj16948.java
  jeongwoo/Heap/Pro42626.java
  jeongwoo/수학/Pro17687.java
  jeongwoo/정렬/Pro42747.java
Labels: BOJ

#233 Jungmin : Boj 9019 / Programmers H-Index, 더 맵게
  chris-an/home/5.19/Boj_9019.java
  chris-an/home/5.19/Boj_9019_refactoring.java
  chris-an/office/5.19/Pro_H_Index.java
  chris-an/office/5.19/Pro_더맵게.java
Labels: BOJ, PROGRAMMERS

#234 Jihoon, Jeongwoo : 프로그래머스 n진수 게임, H-index, 더 맵게
  jihoon/office/5-19/Pro_17687.java
  jihoon/office/5-19/Pro_42626.java
  jihoon/office/5-19/Pro_42747.java
Labels: PROGRAMMERS

#236 Jeongwoo: BOJ 9019 DSLR
  jeongwoo/BFS/Boj9019.java
Labels: BOJ

#237 Jungmin : Sw 숫자조작(13428) / Boj 14502 / Programmers n진수게임 / diff-2 계속 commit..
  chris-an/home/5.20/Boj_14502.java
  chris-an/home/5.20/Sw_숫자조작.java
  chris-an/home/5.20/Sw_어디에단어가들어갈수있을까.java
  chris-an/office/5.19/Pro_n진수게임.java
Labels: BOJ, PROGRAMMERS, SW Expert

#239 Jeongwoo: BOJ 14502 연구소
  jeongwoo/BFS/Boj14502.java
Labels: BOJ

#240 Jungmin : Boj 12886 / SW 오목판정
  chris-an/home/5.21/Boj_12886.java
  chris-an/home/5.21/Sw_오목판정.java
Labels: BOJ, SW Expert

#242 Jeongwoo: 2022-05-23 BOJ 12886 돌 그룹
  jeongwoo/BFS/Boj12886.java
Labels: BOJ

#241 yoonji: sw 13428 숫자조작 / boj 14502 연구소
  yoonji/home/5/InputUtil.java
  yoonji/home/5/boj_14502_20.java
  yoonji/home/5/swExpert/sw_13428_20.java
Labels: BOJ, SW Expert

#243 Jungmin : Sw 문자열나누기 (+팔씨름) / Boj 2206 / Boj 16946
  chris-an/home/5.25/Boj_16946.java
  chris-an/home/5.25/Boj_2206.java
  chris-an/home/5.25/Boj_2206_failed_시간초과.java
  chris-an/home/5.25/Sw_문자열나누기.java
  chris-an/home/5.25/Sw_팔씨름.java
Labels: BOJ, SW Expert

#244 yoonji: boj 2206 벽부수고 이동하기 / sw 팔씨름
  yoonji/home/5/boj_2206_23.java
  yoonji/home/5/swExpert/sw_13547_24.java
Labels: BOJ

#245 Jeongwoo: BOJ 2206 벽 부수고 이동하기
  jeongwoo/BFS/Boj2206.java
  jeongwoo/Hash/Pro12981.java
  jeongwoo/List/Pro17680.java
  jeongwoo/순열/Pro87946.java
Labels: BOJ

#246 Jungmin : Boj 14442 / Boj 16933 / Programmers 3문제
  chris-an/home/5.26/Boj_14442.java
  chris-an/home/5.26/Boj_16933.java
  chris-an/office/5.26/Pro_영어끝말잇기.java
  chris-an/office/5.26/Pro_캐시.java
  chris-an/office/5.26/Pro_피로도.java
Labels: BOJ, PROGRAMMERS

#248 Jungmin : Boj 16954
  chris-an/home/5.27/Boj_16954.java
  chris-an/home/5.27/Boj_16954_2.java
Labels: BOJ

#247 yoonji : boj 벽부수고 이동하기2,4, 3(추가 commit) / prg 피로도 & 캐시 & 영어끝말잇기
  yoonji/home/5/boj_14442_25.java
  yoonji/home/5/boj_16933_26.java
  yoonji/home/5/boj_16946_24.java
  yoonji/office/5/26/prg_영어끝말잇기.java
  yoonji/office/5/26/prg_캐시.java
  yoonji/office/5/26/prg_피로도.java
Labels: BOJ, PROGRAMMERS

#249 Jeongwoo: BOJ 16946 벽 부수고 이동하기 4
  jeongwoo/BFS/Boj16946.java
  jeongwoo/BFS/Boj7576.java
  jeongwoo/DFS/Boj1012.java
Labels: BOJ

#250 Jungmin : Boj 3055
  chris-an/home/5.28/Boj_3055.java
Labels: BOJ
